.deps
.libs
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
clockscrew
config.*
configure
depcomp
faketime
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
svnversion.h
gitversion.h
libclockscrew.la
libclockscrew.lo
